* {
  margin: 0;
  padding: 0;
}

#grid-box-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
}

#header {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}

#logo-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100vw;
  background-color: #006491;
}

#hamburger-menu-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  justify-items: left;
  z-index: 10;
}

#logo-image {
  display: -ms-grid;
  display: grid;
  max-width: 200px;
  width: 20vw;
}

/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
  width: 100%;
  background: #f88b7f;
  /* If you want the navigation bar to stick on top
    position: sticky;
    top: 0;
    */
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-nav ul li {
  display: inline-block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#page-nav ul li a {
  color: black;
  text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: black;
    background: #d45650;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
  }
  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}

#video-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 80vh;
  width: 100vw;
}

#grid-box-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

#content {
  width: 100vw;
  background-color: whitesmoke;
}

#pizza-picture {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#pizza-name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  background-color: #ebd4d4;
}

#pizza-description {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: auto;
  background-color: #ebd4d4;
}

#pizza-price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  margin: 2px, 2px, 2px, 2px;
}

#small-pizza-price {
  background-color: #f16277;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#medium-pizza-price {
  background-color: #f16277;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#large-pizza-price {
  background-color: #f16277;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#grid-box-about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

#about-us {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#about-us-text {
  background-color: whitesmoke;
  text-align: center;
}

#map-link {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#footer {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #dbdbdb;
}
/*# sourceMappingURL=style.css.map */