* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

#grid-box-home {
  display: grid;
  grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
  background-color: whitesmoke;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
}

.colored-title {
  color: darkblue;
}

#header {
  display: grid;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}

#logo-container {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  background-color: #006491;
}

#logo-image {
  display: grid;
  max-width: 200px;
  width: auto;
  height: 9vh;
}

#hamburger-menu-container {
  display: grid;
  align-items: left;
  justify-items: left;
  z-index: 10;
}

/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    background: #e62d3a;
    /* If you want the navigation bar to stick on top
    position: sticky;
    top: 0;
    */
  }
  
  /* Hide Hamburger */
  #page-nav label, #hamburger {
    display: none;
  }
  
  /* Menu Items */
  #page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
  #page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  #page-nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* Show Hamburger */
    #page-nav label {
      display: inline-block;
      color: white;
      background: #006491;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #page-nav ul li {
      display: block;
    }
    #page-nav ul li {
      border-top: 1px solid rgb(0, 0, 0);
    }
  
    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
      display: none;
    }
    #page-nav input:checked ~ ul {
      display: block;
    }
}

#video-container {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80vh;
    width: 100vw;
}

#hours-of-operation {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
}

#grid-box-menu {
  display: grid;
  grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

#content {
  display: grid;
  width: 100vw;
  margin-top: 10vh;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2px;
  background-color: whitesmoke;
}

#menu-item-card {
  display: block;
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
}

#item-pic {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
}

#order-button {
  background-color: #006491;
  display: inline-grid;
  place-items: center;
  align-items: center;
  justify-items: center;
  border-radius: 3px;
}

#pizza-nm {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin:0 15px;
  width: auto;
}

#pizza-desc {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin:0 15px;
  width: auto;
}

#pizza-prc {
  display: grid;
  padding: 0 15px;
  width: auto;
}

#pizza-picture {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
}

.menu-item-picture {
  border-radius: 10px;
}

#small-pizza-price {
  background-color: #f16277;;
  display: inline-grid;
  place-items: center;
  align-items: center;
  justify-items: center;
}

#medium-pizza-price {
  background-color: #f16277;
  display: inline-grid;
  place-items: center;
  align-items: center;
  justify-items: center;
}

#large-pizza-price {
  background-color: #f16277;
  display: inline-grid;
  place-items: center;
  align-items: center;
  justify-items: center;
}

#order {
  background-color: #006491;
  display: inline-grid;
  place-items: center;
  align-items: center;
  justify-items: center;
}

#grid-box-about-us {
  display: grid;
  grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

#about-us {
  display: grid;
  grid-template-rows: 6;
  align-items: center;
  justify-items: center;
}

.about-us-text {
  padding: 0 15px;
}

#about-us-1 {
  display: grid;
  align-items: center;
  justify-items: center;
}

#about-us-text-1 {
  text-align: center;
}

#about-us-2 {
  display: grid;
  align-items: center;
  justify-items: center;
}

#about-us-text-2 {
  text-align: center;
}

#about-us-3 {
  display: grid;
  align-items: center;
  justify-items: center;
}

#about-us-text-3 {
  text-align: center;
}

#address {
  text-align: center;
}

#map-link {
  display: grid;
  align-items: center;
  justify-items: center;
}

#footer {
  display: grid;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-items: center;
  background-color: #dbdbdb;
}